<!doctype html>
<html>
  <head>
    <title>SQLite Web: {{ dataset.base_name }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/dropdown.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/tables.css') }}" />
    {% block extra_head %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.Geo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.base64.min.js') }}"></script>
    <script type="text/javascript">
      $(function() {
        $('a#toggle-helper-tables').on('click', function(e) {
          e.preventDefault();
          $('ul#helper-tables').toggle();
        });
        $('input#table-search').on('keyup', function(e) {
          var searchQuery = $(this).val().toUpperCase();
          $('li.table-link').each(function() {
            var elem = $(this),
                tableName = elem.find('a').prop('innerText').toUpperCase();
            elem.toggle(tableName.indexOf(searchQuery) != -1);
          });
        });
      });
    </script>
  </head>

<body>

    <div class="container">

      <div class="row">
        <label for="id_password">Enter your password to login into the administration panel</label>
        <div class="col-lg-11">
          <div class="panel panel-default">
            <div class="panel-body">
              <form action="{{ url_for('login') }}" class="form" id="form" method="post">
                  <input class="form-control" id="id_password" name="password" type="password" value="" />
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-1">
          <div class="panel panel-default">
            <div class="panel-body">
              <button class="btn btn-primary" form="form" type="submit">Login</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5>Active Union Organizations per Type and Year</h5>
            </div>
            <div class="panel-body">
              <canvas id="bar-chart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5>Active Union Organizations per District</h5>
            </div>
            <div class="panel-body">
              <canvas id="map" class="panel-body"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5>Strike Notices per Year</h5>
            </div>
            <div class="panel-body">
              <canvas id="bar-chart2"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5>Active Union Organizations per Activity Sector</h5>
            </div>
            <canvas id="bar-chart3"></canvas>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-lg-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="dropdown">
              <button id="choose_button" style="font-size: 16px;" class="btn btn-primary" onclick="myDropdown()">Choose</button>
              <div id="myDropdown" class="dropdown-content">
                <a class="opt_tables">Unions</a>
                <a class="opt_tables">Employees</a>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <div class="col-lg-10">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form" id="form1">
              <input  class="form-control" id="org" name="organization" value="" />
              <input type="hidden" name="table_org" id="table_org" value="" />
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <button id="search_button" class="btn btn-primary" type="submit" onclick="searchOrgs()">Search</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <table id="my_table" border="1">
                <thead>
                  <th>ID</th><th>Tipo</th><th>Nome</th><th>Acronimo</th><th>Nome_Organizacao_Pai</th>
                </thead>
              </table>
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <button  class="btn btn-primary" style="width: 100%;" onclick="tableToExcel()">Export to Excel File</button>
            </div>
        </div>
      </div>
    </div>          


  </div>

  <script>
    var table = "Choose";
    var org = "";
    create_table({{ dataset.orgsindical1_data | safe }});

    function myDropdown(){
      document.getElementById("myDropdown").classList.toggle("show");
    }

    //listeners nas opcoes do Dropdown
    var elements = document.getElementsByClassName('opt_tables');
    for (var i = 0, len = elements.length; i < len; i++) {
      elements[i].addEventListener("click", function() {
        table = this.innerHTML;
        document.getElementById("choose_button").innerHTML = table;
        document.getElementById('table_org').value = table;
        document.getElementById("myDropdown").classList.toggle("show");
      });
    }

    function create_table(tabela){
      var org_table;
      var tbl = document.getElementById('my_table');
      var tblbody = document.createElement('tbody');  
      org_table = tabela;

      for(var i=0; i < org_table.length; i++){
        var tblrw = document.createElement('tr');

        for(var j=0; j < org_table[i].length; j++){
          var tbltd = document.createElement('td');
          var tbldata = document.createTextNode(org_table[i][j]);
          
          tbltd.appendChild(tbldata);
          tblrw.appendChild(tbltd);
        }
        
        tblbody.appendChild(tblrw);
      }

      tbl.appendChild(tblbody);
    }


    function searchOrgs(){
        $.ajax({
          url:"{{ url_for('search') }}",
          data: $("#form1").serialize(),
          dataType: "json",
          success:function(data){
            console.log(data);
            var old_tbody = document.getElementsByTagName('tbody')[0];
            old_tbody.remove();
            create_table(Object.values(data["tabela"]));
            console.log("table updated");
          
          },
          error:function(jqXHR, textStatus, errorThrown){
            console.log(jqXHR.responseText);
            console.log(textStatus);
            console.log(errorThrown);
          }
        
        });
    }



    function tableToExcel(){
      var filename = "";
      var table_org = document.getElementById("table_org").value;
      var org = document.getElementById("org").value;

      if ((table_org=="Unions" && org=="") || table_org==""){
        filename = "Unions";
      }
      else if ((table_org=="Unions" && org!="") || (table_org=="Employees" && org!="")){
        filename = table_org + "-" + org;
      }
      else if ((table_org=="Employees" && org=="")){
        filename = table_org;
      }

      var myRequest = new XMLHttpRequest();
      myRequest.open('GET', "{{ url_for('export') }}" + "?" + $('#form1').serialize() + "&export=1", true);
      myRequest.responseType = "blob";
      myRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      myRequest.onreadystatechange = function(){
      
        if (this.readyState == 4 && this.status == 200){
          var blob = new Blob([this.response], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"});
          var url = window.URL.createObjectURL(blob);

          var link = document.createElement('a');
          document.body.appendChild(link);
          link.style = "display: none";
          link.href = url;

          link.download = filename + ".xlsx";
          link.click();

          setTimeout(() => {
          window.URL.revokeObjectURL(url);
          link.remove(); } , 100);
          }
      };

      myRequest.send();  
    }

     new Chart(document.getElementById("bar-chart"), {
     type: 'bar',
     data: {
       labels: {{ dataset.barchart_labels | safe }},
       datasets: [
        {
          label: "Union Confederations",
          data: {{ dataset.barchart_data | safe }},
          backgroundColor: '#228B22' // green
        },
        {
          label: "Union Federations",
          data: {{ dataset.barchart_data2 | safe }},
          backgroundColor: '#FFD700' // yellow

        },
        {
          label: "Unions",
          data: {{ dataset.barchart_data3 | safe }},
          backgroundColor: '#FF0000' // red
        },
        {
          label: "Union Unions",
          data: {{ dataset.barchart_data4 | safe }},
          backgroundColor: '#0000FF' // blue
        }
      ]
    },
    options: {
      legend: { display: true },
      scales: {
        xAxes: [{ stacked: true }],
        yAxes: [{ stacked: true }]
      }
    }
    });

  var i = 0;
  var distPT = [];
  var distritosPT = [];
  var value = "";
  const distritos2 = [];
  var valores = {{dataset.map_data}};
  var dict = {};
	

	fetch("{{ url_for('static', filename='data/Iberic.json') }}").then(r => r.json()).then((ib) => {
      const distritos = ib.features;

      distritos.forEach(function(entry) {

        value = entry.properties.name.toUpperCase();

        if(!(typeof(entry.properties.admin) == "undefined")){

          if(value != "AZORES" && value != "MADEIRA"){

            if(value == "ÉVORA"){
              value = "EVORA";
            }
            
            
            distPT.push(value);
            entry.properties.name = value;
            distritosPT.push(entry);
            distritos2.push(entry);

          }
        }
        else{

            if (value != "CANARIAS" && value != "BALEARES"){

              entry.properties.name = value;
              distritos2.push(entry);
            }

        }

      });

      distritosPT.sort(function(a, b){
        var keyA = a.properties.name.toUpperCase();
        var keyB = b.properties.name.toUpperCase();
        if(keyA < keyB) return -1;
        if(keyA > keyB) return 1;
        return 0;
      });

      distPT.sort();

      console.log(distPT);
      console.log(distritos2);

      distPT.forEach(function(district) {

        dict[district] = valores[i];

        i++;

      });

      valores.sort(function(a, b){return a - b});

      var orgValue = 0;
      var value = 0;
      var j=0;
      var max = valores.reduce(function(a, b) {
  		  return Math.max(a, b);
	    });

    function orgValues(district) {

      if (!(district in dict)){
        return 0;
      }
      else{
        orgValue = dict[district];
        return orgValue;
      }
	  }

      const chart = new Chart(document.getElementById("map").getContext("2d"), {
        type: 'choropleth',
        data: {
          labels: distritosPT.map((d) => d.properties.name),
          datasets: [{
            label: 'Distritos',
            outline: distritos2,
            data: distritosPT.map((d) => ({feature: d, value: orgValues(d.properties.name)})),
          }]
        },
        options: {
          showOutline: true,
          legend: {
            display: false
          },
          scale: {
            projection: 'mercator'
          },
          geo: {
            colorScale: {
              display: true,
              interpolate: 'YlOrRd',
              position: 'top',
              quantize: 10,
              ticks: {
                  min: 0,
                  max: 250,
                  stepSize: 50   
              },
              legend: {
                position: 'bottom-right'
              },
            },
          },
          tooltips: {
            callbacks: {
                label: function(tooltipItem, data){
                  var distrito = data['labels'][tooltipItem['index']];
                  return distrito;
                },
                afterLabel: function(tooltipItem, data) {
                  var distrito = data['labels'][tooltipItem['index']];
                  return "Union Organizations: " + dict[distrito];
                }
            }
          }
        }
      });

    });

     new Chart(document.getElementById("bar-chart2"), {
     type: 'bar',
     data: {
       labels: {{ dataset.barchart2_labels | safe }},
       datasets: [
        {
          label: "Strike Notices",
          data: {{ dataset.barchart2_data | safe }},
          backgroundColor: '#228B22' // green
        }
      ]
    },
    options: {
      legend: { display: true },
      scales: [{
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'year'
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'strike notices'
          }
        }]
      }]
    }
    
    });

    var setores = {{ dataset.barchart3_labels | safe }};
    var setores_red = {{ dataset.barchart3_labels_red | safe }};
    var pos = 0;
    var setores_final = {};


    for(pos = 0; pos < setores.length; pos++){
      setores_final[setores_red[pos]] = setores[pos];
    }

     new Chart(document.getElementById("bar-chart3"), {
     type: 'horizontalBar',
     data: {
       labels: setores_red,
       datasets: [
        {
          label: "Active Union Organizations",
          data: {{ dataset.barchart3_data | safe }},
          backgroundColor: '#0000FF' // blue
        }
      ]
    },
    options: {
      legend: { display: true },
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true,
            stepSize: 10
          }
        }],
        yAxes: [{
            ticks: {
                fontSize: 8
            }
        }]
      },
      tooltips: {
        callbacks: {
            beforeLabel: function(tooltipItem, data) {
                var setor = data['labels'][tooltipItem['index']];
                return setores_final[setor];
            },
            title: function(tooltipItem, data) {}

        }
      }
    }
    });

    </script>

</body>
</html>