<!doctype html>
<html>
  <head>
    <title>SQLite Web: {{ dataset.base_name }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/dropdown.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/tables.css') }}" />
    {% block extra_head %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.Geo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.base64.min.js') }}"></script>
    <script type="text/javascript">
      $(function() {
        $('a#toggle-helper-tables').on('click', function(e) {
          e.preventDefault();
          $('ul#helper-tables').toggle();
        });
        $('input#table-search').on('keyup', function(e) {
          var searchQuery = $(this).val().toUpperCase();
          $('li.table-link').each(function() {
            var elem = $(this),
                tableName = elem.find('a').prop('innerText').toUpperCase();
            elem.toggle(tableName.indexOf(searchQuery) != -1);
          });
        });
      });
    </script>
  </head>

<body>

    <div class="container">

      <div id="loginBar" class="row">
        <!--<label for="id_password">Insira a sua password para aceder ao painel administrativo</label>-->
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <form action="{{ url_for('login') }}" class="form" id="form" method="post">
                  <input class="form-control" id="id_password" name="password" type="password" placeholder="Insira password para aceder ao painel administrativo" value="" />
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-1">
          <div class="panel panel-default">
            <div class="panel-body">
              <button class="btn btn-primary" form="form" type="submit">Login</button>
            </div>
          </div>
        </div>
      </div>

      <div id="graphs1" class="row row-no-gutters">
        <div class="col-lg-5 col-lg-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 id="orgs_type_year" class="text-center">Organizações sindicais ativas por tipo e ano</h6>
            </div>
            <div class="panel-body">
              <canvas id="bar-chart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-lg-offset-1 col-lg-5 col-lg-offset-0">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 id = "orgs_per_district" class="text-center">Organizações sindicais ativas por distrito</h6>
            </div>
            <div class="panel-body">
              <canvas id="map"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div id="graphs2" class="row row-no-gutters">
        <div class="col-lg-5 col-lg-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 id="strike_notices" class="text-center">Pré-avisos de greve por ano</h6>
            </div>
            <div class="panel-body">
              <canvas id="bar-chart2"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-lg-offset-1 col-log-5 col-lg-offset-0">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 id = "orgs_per_sector" class="text-center">Atos de negociação coletiva por ano</h6>
            </div>
            <div class="panel-body">
              <canvas id="bar-chart3"></canvas>
            </div>
          </div>
        </div>
      </div>

    <div id="searchBar" class="row">
      <div class="col-lg-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="dropdown">
              <button id="choose_button" style="font-size: 16px;" class="btn btn-primary" onclick="myDropdown()">Escolher organizações</button>
              <div id="myDropdown" class="dropdown-content">
                <a class="opt_tables">Sindicais</a>
                <a class="opt_tables">Empregadores</a>
              </div>
            </div>
          </div>
        </div>  
      </div> 
      <div class="col-lg-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-inline" id="form1">
              <div class="form-group mx-lg-3 mb-2">
                <label for="org">Termo/acrónimo: </label>
                <input  class="form-control" placeholder="Insira termo ou acrónimo" id="org" name="organization" value="" />
              </div>
              <div class="form-group mx-lg-3 mb-2">
                <label for="distrito">Distrito: </label>
                <input class="form-control" placeholder="Insira distrito" id="distrito" name="distrito" value="" />
              </div>
              <div class="form-group mx-lg-3 mb-2">
                <label for="setor">Setor: </label>
                <input class="form-control" placeholder="Insira setor económico" id="setor" name="setor" value="" />
              </div>
              <input type="hidden" name="table_org" id="table_org" value="" />
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <button id="search_button" class="btn btn-primary" type="submit" onclick="searchOrgs()">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>

    <div id="searchResults" class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <table id="my_table" border="1">
                <thead>
                  <th>Tipo</th><th>Nome</th><th>Acrónimo</th><th>Distrito sede</th><th>Setor</th><th>Estado</th>
                </thead>
              </table>
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <button  class="btn btn-primary" style="width: 100%;" onclick="tableToExcel()">Exportar todos os atributos para ficheiro Excel</button>
            </div>
        </div>
      </div>
    </div>          


  </div>

  <script>
    var table = "Choose";
    var org = "";
    create_table({{ dataset.orgsindical1_data | safe }});
    var org_district_chart;

    function myDropdown(){
      document.getElementById("myDropdown").classList.toggle("show");
    }


    $('#setor').on('input', function() {
      if (this.value.length >= 1) {
        document.getElementById('distrito').disabled = true;
        document.getElementById("distrito").placeholder = "Filtro indisponível";
      }
      else {
        document.getElementById('distrito').disabled = false;
        document.getElementById("distrito").placeholder = "Insira distrito";
      }
    });


    $('#distrito').on('input', function() {
      if (this.value.length >= 1) {
        document.getElementById("setor").disabled = true;
        document.getElementById("setor").placeholder = "Filtro indisponível";
      }
      else {
        document.getElementById("setor").disabled = false;
        document.getElementById("setor").placeholder = "Insira setor económico";
      }
    });

    //listeners nas opcoes do Dropdown
    var elements = document.getElementsByClassName('opt_tables');
    for (var i = 0, len = elements.length; i < len; i++) {
      elements[i].addEventListener("click", function() {
        
        table = this.innerHTML;

        document.getElementById("choose_button").innerHTML = table;

        //valor do form que é submetido quando se carrega no botao de search
        if(table=="Sindicais"){
          document.getElementById('table_org').value = "Unions";
        }
        else if(table=="Empregadores"){
          document.getElementById('table_org').value = "Employees";
        }  

        document.getElementById("myDropdown").classList.toggle("show");
      
      });
    }

    function create_table(tabela){
      var org_table;
      var tbl = document.getElementById('my_table');
      var tblbody = document.createElement('tbody');  
      org_table = tabela;

      for(var i=0; i < org_table.length; i++){
        var tblrw = document.createElement('tr');

        for(var j=0; j < org_table[i].length; j++){
          var tbltd = document.createElement('td');
          var tbldata = document.createTextNode(org_table[i][j]);
          
          tbltd.appendChild(tbldata);
          tblrw.appendChild(tbltd);
        }
        
        tblbody.appendChild(tblrw);
      }

      tbl.appendChild(tblbody);
    }

    var district_org = {};
    var updated = false;

    function orgs_by_type_year(table, dados){
      if(dados[0].length != 0){

        if(table=="Unions" || table==""){
          document.getElementById("orgs_type_year").innerHTML = "Organizações sindicais ativas por tipo e ano";
          org_type_year_chart.data.datasets[0].label = "Confederações";
          org_type_year_chart.data.datasets[1].label = "Federações";
          org_type_year_chart.data.datasets[2].label = "Sindicatos";
          org_type_year_chart.data.datasets[3].label = "Uniões";
        }
        else{
          document.getElementById("orgs_type_year").innerHTML = "Organizações de empregadores ativas por tipo e ano";
          org_type_year_chart.data.datasets[0].label = "Confederações";
          org_type_year_chart.data.datasets[1].label = "Federações";
          org_type_year_chart.data.datasets[2].label = "Associações";
          org_type_year_chart.data.datasets[3].label = "Uniões";

        }

        org_type_year_chart.data.datasets[0].data = dados[0];
        org_type_year_chart.data.datasets[1].data = dados[1];
        org_type_year_chart.data.datasets[2].data = dados[2];
        org_type_year_chart.data.datasets[3].data = dados[3];
        org_type_year_chart.update();
      
      }
    }


    function orgs_by_district(dados){
      var i = 0;
      
      distPT.forEach(function(district) {

        district_org[district] = dados[i];

        i++;

      });

    }

    function get_org_values_by_district(distrito){
      var orgValue = 0;

      if (!(distrito in district_org)){
        return 0;
      }
      else{
        orgValue = district_org[distrito];
        return orgValue;
      }
    }

    function get_max_tick(dados){
      var max = dados.reduce(function(a, b) {
          return Math.max(a, b);
        });

      return Math.ceil(max / 10) * 10;

    }


    function get_stepsize_tick(dados){

      var max = dados.reduce(function(a, b) {
          return Math.max(a, b);
        });

      return Math.ceil(max / 10) * 2;

    }

    function org_district_update(table, dados){

      //ver como tratar a escala
      
      if(dados.length != 0){
        if(table=="Unions" || table==""){
          document.getElementById("orgs_per_district").innerHTML = "Organizações sindicais ativas por distrito";
        }
        else{
          document.getElementById("orgs_per_district").innerHTML = "Organizações de empregadores ativas por distrito";
        }

        orgs_by_district(dados);
        org_district_chart.data.datasets[0].data = distritosPT.map((d) => ({feature: d, value: get_org_values_by_district(d.properties.name)}));
        org_district_chart.options.geo.colorScale.ticks.max = get_max_tick(dados);
        org_district_chart.options.geo.colorScale.ticks.stepSize = get_stepsize_tick(dados);
        org_district_chart.update();
      }
    }


    function strike_notices_update(dados){
      if(dados.length != 0){
        org_strike_notices_chart.data.datasets[0].data = dados;
        org_strike_notices_chart.update();
      }
    }


    function orgs_by_sector(table, dados){
      if(dados.length != 0){
        if(table=="Unions" || table==""){
          document.getElementById("orgs_per_sector").innerHTML = "Organizações sindicais ativas por setor económico";
          org_sector_chart.data.datasets[0].label = "Organizações";
        }
        else{
          document.getElementById("orgs_per_sector").innerHTML = "Organizações de empregadores ativas por setor económico";
          org_sector_chart.data.datasets[0].label = "Organizações";
        }

        org_sector_chart.data.datasets[0].data = dados;
        org_sector_chart.update();
      }

    }

    var table_do_search = "Unions";
    var org_do_search = "";

    function searchOrgs(){
        $.ajax({
          url:"{{ url_for('search') }}",
          data: $("#form1").serialize(),
          dataType: "json",
          success:function(data){
            console.log(data);
            var old_tbody = document.getElementsByTagName('tbody')[0];
            old_tbody.remove();
            var dados = Object.values(data["tabela"]);
            create_table(Object.values(data["tabela"]));
            console.log("table updated");
            table_do_search = document.getElementById("table_org").value;
            org_do_search = document.getElementById("org").value;
            setor_do_search = document.getElementById("setor").value;
            distrito_do_search = document.getElementById("distrito").value;
            $.ajax({
              url:"{{ url_for('updateCharts') }}",
              data: $("#form1").serialize(),
              dataType: "json",
              success:function(data){
                var dados = Object.values(data["tabela"]);
                var table = document.getElementById("table_org").value;
                console.log(dados);
                console.log(dados[0]);
                console.log(dados[1]);
                console.log(dados[2]);
                console.log(dados[3]);
                console.log(dados[4]);
                console.log(dados[5]);
                console.log(dados[6]);
                orgs_by_type_year(table, dados);
                org_district_update(table, dados[4]);
                strike_notices_update(dados[5]);
                //orgs_by_sector(table, dados[6]);

              },
              error:function(jqXHR, textStatus, errorThrown){
                console.log(jqXHR.responseText);
                console.log(textStatus);
                console.log(errorThrown);
              }

            });

          },
          error:function(jqXHR, textStatus, errorThrown){
            console.log(jqXHR.responseText);
            console.log(textStatus);
            console.log(errorThrown);
          }
        
        });
    }



    function tableToExcel(){
      var filename = "";
      var table_org = table_do_search;
      var org = org_do_search;
      var distrito = distrito_do_search;
      var setor = setor_do_search;
      console.log(table_do_search);

      if ((table_org=="Unions" || table_org == "Employees" || table_org == "") && org==""){
        
        if(table_org == ""){
          table_org = "Unions";
        }
        
        if(distrito == "" && setor == ""){
          filename = table_org;  
        }
        else if(distrito != ""){
          filename = table_org + "-" + distrito;
        }
        else if(setor != ""){
          filename = table_org + "-" + setor;
        }
      
      }
      else if ((table_org=="Unions" && org!="") || (table_org=="Employees" && org!="") || (table_org=="" && org!="")){
        
        if(table_org == ""){
          table_org = "Unions";
        }

        if(distrito == "" && setor == ""){
          filename = table_org + "-" + org;  
        }
        else if(distrito != ""){
          filename = table_org + "-" + org + "-" + distrito;
        }
        else if(setor != ""){
          filename = table_org + "-" + org + "-" +  setor;
        }
        
      }

      var myRequest = new XMLHttpRequest();
      parameters = "?organization=" + org + "&table_org=" + table_org + "&distrito=" + distrito + "&setor=" + setor + "&export=1";
      myRequest.open('GET', "{{ url_for('export') }}" + parameters, true);
      myRequest.responseType = "blob";
      myRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      myRequest.onreadystatechange = function(){
      
        if (this.readyState == 4 && this.status == 200){
          var blob = new Blob([this.response], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"});
          var url = window.URL.createObjectURL(blob);

          var link = document.createElement('a');
          document.body.appendChild(link);
          link.style = "display: none";
          link.href = url;

          link.download = filename + ".xlsx";
          link.click();

          setTimeout(() => {
          window.URL.revokeObjectURL(url);
          link.remove(); } , 100);
          }
      };

      myRequest.send();  
    }

     var org_type_year_chart = new Chart(document.getElementById("bar-chart"), {
     type: 'bar',
     data: {
       labels: {{ dataset.barchart_labels | safe }},
       datasets: [
        {
          label: "Confederações",
          data: {{ dataset.barchart_data | safe }},
          backgroundColor: '#228B22' // green
        },
        {
          label: "Federações",
          data: {{ dataset.barchart_data2 | safe }},
          backgroundColor: '#FFD700' // yellow

        },
        {
          label: "Sindicatos",
          data: {{ dataset.barchart_data3 | safe }},
          backgroundColor: '#FF0000' // red
        },
        {
          label: "Uniões",
          data: {{ dataset.barchart_data4 | safe }},
          backgroundColor: '#0000FF' // blue
        }
      ]
    },
    options: {
      legend: { display: true,
                labels: {
                  fontSize: 10
                }
              },
      scales: {
        xAxes: [{ stacked: true }],
        yAxes: [{ stacked: true }]
      }
    }
    });

  var i = 0;
  //nomes dos distritos portugueses
  var distPT = [];
  //conteudo do mapa
  var distritosPT = [];
  var value = "";
  //outline do mapa(portugal + espanha)
  const distritos2 = [];
  //valores do mapa
  var valores = {{dataset.map_data}};
  //dicionario que associa aos distritos o num organizacoes
  var dict = {};
	

	fetch("{{ url_for('static', filename='data/Iberic.json') }}").then(r => r.json()).then((ib) => {
      const distritos = ib.features;

      distritos.forEach(function(entry) {

        value = entry.properties.name.toUpperCase();

        if(!(typeof(entry.properties.admin) == "undefined")){

          if(value != "AZORES" && value != "MADEIRA"){

            if(value == "ÉVORA"){
              value = "EVORA";
            }
            
            
            distPT.push(value);
            entry.properties.name = value;
            distritosPT.push(entry);
            distritos2.push(entry);

          }
        }
        else{

            if (value != "CANARIAS" && value != "BALEARES"){

              entry.properties.name = value;
              distritos2.push(entry);
            }

        }

      });

      distritosPT.sort(function(a, b){
        var keyA = a.properties.name.toUpperCase();
        var keyB = b.properties.name.toUpperCase();
        if(keyA < keyB) return -1;
        if(keyA > keyB) return 1;
        return 0;
      });

      distPT.sort();

      console.log(distPT);
      console.log(distritosPT);
      console.log(distritos2);

      distPT.forEach(function(district) {

        dict[district] = valores[i];

        i++;

      });

      valores.sort(function(a, b){return a - b});

      var orgValue = 0;
      var value = 0;
      var j=0;
      var max = valores.reduce(function(a, b) {
  		  return Math.max(a, b);
	    });

    function orgValues(district) {

      if (!(district in dict)){
        return 0;
      }
      else{
        orgValue = dict[district];
        return orgValue;
      }
	  }

      org_district_chart = new Chart(document.getElementById("map").getContext("2d"), {
        type: 'choropleth',
        data: {
          labels: distritosPT.map((d) => d.properties.name),
          datasets: [{
            label: 'Distritos',
             //outline: distritos2,
            outline: distritosPT,
            data: distritosPT.map((d) => ({feature: d, value: orgValues(d.properties.name)})),
          }]
        },
        options: {
          showOutline: true,
          legend: {
            display: false
          },
          scale: {
            projection: 'mercator'
          },
          geo: {
            colorScale: {
              display: true,
              interpolate: 'YlOrRd',
              position: 'top',
              quantize: 10,
              ticks: {
                  min: 0,
                  max: get_max_tick(valores),
                  stepSize: get_stepsize_tick(valores)
              },
              legend: {
                //position: 'bottom-right'
                position: 'top-right'
              },
            },
          },
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data){
                var distrito = data['labels'][tooltipItem['index']];
                return distrito;
              },
              afterLabel: function(tooltipItem, data) {
                var valor = data.datasets[0].data[tooltipItem.index]['value'];

                return "Organizações: " + valor;  
              }
            }
          }
        }
      });

    });

     var org_strike_notices_chart = new Chart(document.getElementById("bar-chart2"), {
     type: 'bar',
     data: {
       labels: {{ dataset.barchart2_labels | safe }},
       datasets: [
        {
          label: "Pré-avisos de Greve",
          data: {{ dataset.barchart2_data | safe }},
          backgroundColor: '#228B22' // green
        }
      ]
    },
    options: {
      legend: { display: false,
                labels: {
                  fontSize: 10
                }
               },
      scales: [{
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'year'
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'strike notices'
          }
        }]
      }]
    }
    
    });


     var org_irct_chart = new Chart(document.getElementById("bar-chart3"), {
      type: 'bar',
     data: {
       labels: {{ dataset.irctchart_labels | safe }},
       datasets: [
        {
          label: "Atos de negociação coletiva",
          data: {{ dataset.irctchart_data | safe }},
          backgroundColor: '#0000FF' // green
        }
      ]
    },
    options: {
      legend: { display: false,
                labels: {
                  fontSize: 10
                }
               },
      scales: [{
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'year'
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'ircts'
          }
        }]
      }]
    }
    
    });


    var setores = {{ dataset.barchart3_labels | safe }};
    var setores_red = {{ dataset.barchart3_labels_red | safe }};
    var pos = 0;
    var setores_final = {};


    for(pos = 0; pos < setores.length; pos++){
      setores_final[setores_red[pos]] = setores[pos];
    }

     /*var org_sector_chart = new Chart(document.getElementById("bar-chart3"), {
     type: 'horizontalBar',
     data: {
       labels: setores_red,
       datasets: [
        {
          label: "Organizações",
          data: {{ dataset.barchart3_data | safe }},
          backgroundColor: '#0000FF' // blue
        }
      ]
    },
    options: {
      legend: { display: false,
                labels: {
                  fontSize: 10
                }
              },
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true,
            stepSize: 10
          }
        }],
        yAxes: [{
            ticks: {
                fontSize: 6
            }
        }]
      },
      tooltips: {
        callbacks: {
            beforeLabel: function(tooltipItem, data) {
                var setor = data['labels'][tooltipItem['index']];
                return setores_final[setor];
            },
            title: function(tooltipItem, data) {}

        }
      }
    }
    });*/

    </script>

</body>
</html>